/*COLORES*/


.bg-rojoclaro {
    background-color: #d76d66;
}

.bg-rojooscuro {
    background-color: #994040;
}

.bg-beige {
    background-color: #fff8dc;
}

.bg-grisclaro {
    background-color: #ffffffa4;
}

.bg-celeste {
    background-color: #3ab5b5;
}

.bg-verde {
    background-color: #54a654;
}

/*IMAGEN DE BACKGROUND*/

.bg-img-container {
    background-image: url(./img/background-vacas2.jpg);
    background-size: cover;
    background-position: center;
}

.bg-img-productos {
    background-image: url(./img/background-productos.jpg);
    background-size: cover;
    background-position: center;
}

/*ESTILOS*/
.estilo-lista {
    font-size: 1.2rem;
    font-weight: 900;
}



/*VIDEO PRINCIPAL CONTAINER*/

.video-container {
    position: relative;
    max-width: 100%;
}

.video-container video {
    width: 100%;
    height: auto;
}


/*TAMAÑO IMAGENES MERCADOS*/

.img-size-mercado {
    max-width: 100%;
    width: 20%;
}

/*TAMAÑO IMAGENES FOOTER*/

.img-size-footer {
    font-size: 2rem;
}

/*---------------------Estilos PAGINA PRODUCTOS H2 y P-------------------*/

.style-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.style-productos h1 {
    font-size: 3rem;
    font-family: "fredoka", sans-serif;
    color: #dbd691;
    background-color: #1414147e;
    border-radius: 2rem;
    overflow: hidden;
}

.style-productos p {
    color: #141414;
    background-color: #977272bd;
    border-radius: 2rem;
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    text-align: center;
}
/*Subtitulo cards*/
.subtitulo-cortes {
    background-color: #14141462;
    border-radius: 2rem;
}
.subtitulo-cortes h2{
    text-align: center;
    color: #dbd691;
    margin: 0 0 1rem 0;
}
/*Manual cortes*/
.subtitulo-manual {
    background-color: #14141462;
    border-radius: 2rem;
    margin: 1rem;
}
.subtitulo-manual h2{
    text-align: center;
    color: #dbd691;
}

/*CARDS*/
.card-section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.card-size {
    min-width: 20%;
    max-width: 100%;
    align-items: center;
}

.card-size img {
    min-width: 100%;
}


/*------------TABLET 768PX ESTILOS----------------- */

@media (min-width: 768px) and (max-width: 991px) {


    /*TAMAÑO MANUAL DE CORTES EN SECCION PRODUCTOS*/
    .cortes {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem 0;
        gap: 1rem;
    }
    .size-cortes {
        max-width: 50%;
    }
}

/*---------------desktop 992PX ESTILOS-------------*/


/*ESTILO PARRAFO*/
@media (min-width: 992px) {
    .fs-lg-2 {
      font-size: 1.5rem;
    }

    /*---------ESTILOS SECCION PRODUCTOS------*/
    .style-productos p {
        color: #141414;
        font-size: 1.8rem;
        background-color: #977272bd;
        border-radius: 2rem;
        font-weight: 600;
        text-align: center;
    }

    .style-productos h1 {
        font-size: 4rem;
        color: #dbd691;
        background-color: #977272bd;
        border-radius: 2rem;
        overflow: hidden;
    }

    /*TAMAÑOS CARDS*/

    .card-size {
        max-width: 100%;
        width: 20%;
    }
    .card-size img {
        width: 100%;
    }

    /*CAROUSEL Y PARRAFO DE SECCION PRINCIPAL */
    .section-p-carousel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        gap: 1rem;
    }

    .section-p-carousel div {
        width: 100%;
    }


    /*TAMAÑOS IMAGENES*/

    .img-size-10 {
        max-width: 100%;
        width: 10%;
    }

    /*TAMAÑO MANUAL DE CORTES EN SECCION PRODUCTOS*/
    .cortes {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem 0;
        gap: 1rem;
    }
    .size-cortes {
        max-width: 50%;
    }
  }
