/*COLORES*/


.bg-rojoclaro {
    background-color: #d76d66;
}

.bg-rojooscuro {
    background-color: #994040;
}

.bg-beige {
    background-color: #fff8dc;
}

.bg-grisclaro {
    background-color: #ffffffa4;
}

.bg-celeste {
    background-color: #3ab5b5;
}

.bg-verde {
    background-color: #54a654;
}

.bg-verdeclaro {
    background-color: #8eb98e;
}

/*IMAGEN DE BACKGROUND*/

.bg-img-container {
    background-image: url(./img/background-vacas2.jpg);
    background-size: cover;
    background-position: center;
}

.bg-img-productos {
    background-image: url(./img/background-productos.jpg);
    background-size: cover;
    background-position: center;
}


/*ESTILOS*/
.estilo-lista {
    font-size: 1.2rem;
    font-weight: 900;
}



/*VIDEO PRINCIPAL CONTAINER*/

.video-container {
    position: relative;
    max-width: 100%;
}

.video-container video {
    width: 100%;
    height: auto;
}


/*TAMAÑO IMAGENES MERCADOS*/

.img-size-mercado {
    max-width: 100%;
    width: 20%;
}

/*TAMAÑO IMAGENES FOOTER*/

.img-size-footer {
    font-size: 2rem;
}

/*---------------------Estilos PAGINA PRODUCTOS H2 y P-------------------*/

.style-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.style-productos h1 {
    font-size: 3rem;
    font-family: "fredoka", sans-serif;
    color: #dbd691;
    background-color: #14141462;
    border-radius: 2rem;
    overflow: hidden;
}

.style-productos p {
    color: #141414;
    background-color: #977272bd;
    border-radius: 2rem;
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    text-align: center;
}
/*Subtitulo cards*/
.subtitulo-cortes {
    background-color: #14141462;
    border-radius: 2rem;
}
.subtitulo-cortes h2{
    text-align: center;
    color: #dbd691;
    margin: 0 0 1rem 0;
}
/*Manual cortes*/
.subtitulo-manual {
    background-color: #14141462;
    border-radius: 2rem;
    margin: 1rem;
}
.subtitulo-manual h2{
    text-align: center;
    color: #dbd691;
}

/*CARDS*/
.card-section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.card-size {
    min-width: 20%;
    max-width: 100%;
    align-items: center;
}

.card-size img {
    min-width: 100%;
}


/*------------------ESTILOS PAGINA CONTACTO---------------------*/
.bg-img-contacto {
    background-image: url(./img/vaca-pastando.avif);
    background-size: cover;
    background-position: center;
}

.style-contacto h1 {
    font-family: "fredoka", sans-serif;
    color: #dbd691;
    background-color: #14141462;
    border-radius: 0.4rem;
}

.style-contacto p {
    font-size: 1.5rem;
    font-family: "fredoka", sans-serif;
    color: #dbd691;
    background-color: #14141462;
    border-radius: 0.4rem;
}

.mapa-contacto {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 20rem;
}
.mapa-contacto iframe {
    width: 80%;
    height: 100%;
}


/*--------------------ESTILO PAGINA GANADO------------------------------*/

.section-ganado {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #8eb98e;
    margin-top: 2rem;
    padding-top: 2rem;
    padding: 3rem;
    gap: 2rem;
    border: black 2px solid;
    border-radius: 1rem;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.349);
}

.titulo-ganado {
    text-align: center;
    font-family: "fredoka", sans-serif;

}

.section-ganado div {
    background-color: beige;
    padding: 1rem;
    border-radius: 0.5rem;
    border: black 1px solid;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
}

.section-ganado h3 {
    text-align: center;
    font-family: "fredoka", sans-serif;
    font-size: 1.5rem;
    color: #994040;
    border-radius: 0.5rem;
}

.section-ganado img {
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.397);
    border: black 2px solid;
}

.section-ganado p { 
    max-width: 100%;
    text-align: center;
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 1rem;
    background-color: #14141450;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.section-cuidados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-color: #8eb98e;
    border: black 2px solid;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.349);

}

.section-cuidados h2 {
    background-color: beige;
    text-decoration: underline;
    margin-top: 1rem;
    padding: 0.2rem;
    border: black 1px solid;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.37);
}

.section-cuidados p {
    max-width: 100%;
    text-align: center;
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 1rem;
    background-color: #14141450;
    border-radius: 0.5rem;
    padding: 0.4rem;

}


/*------------TABLET 768PX ESTILOS----------------- */

@media (min-width: 768px) and (max-width: 991px) {


    /*TAMAÑO MANUAL DE CORTES EN SECCION PRODUCTOS*/
    .cortes {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem 0;
        gap: 1rem;
    }
    .size-cortes {
        max-width: 50%;
    }


    /*-----------------ESTILOS PAGINA GANADO------------------*/

    .section-ganado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #8eb98e;
        margin-top: 2rem;
        padding-top: 2rem;
        padding: 3rem;
        gap: 2rem;
        border: black 2px solid;
        border-radius: 1rem;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.349);
    }
    
    .section-ganado h3 {
        text-align: center;
        font-family: "fredoka", sans-serif;
        font-size: 1.5rem;
        color: #994040;
        border-radius: 0.5rem;
    }
    
    .section-ganado img {
        max-width: 100%;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.397);
        border: black 2px solid;
    }
    
    .section-ganado p { 
        max-width: 100%;
        text-align: center;
        font-family: "fredoka", sans-serif;
        font-weight: 600;
        margin-top: 1rem;
        background-color: #14141450;
        border-radius: 0.5rem;
        padding: 0.4rem;
    }

    .text-tablet {
        display: block;
    }
    
}

/*---------------desktop 992PX ESTILOS-------------*/


/*ESTILO PARRAFO*/
@media (min-width: 992px) {
    .fs-lg-2 {
      font-size: 1.5rem;
    }

    /*---------ESTILOS SECCION PRODUCTOS------*/
    .style-productos p {
        color: #141414;
        font-size: 1.8rem;
        background-color: #977272bd;
        border-radius: 2rem;
        font-weight: 600;
        text-align: center;
    }

    .style-productos h1 {
        font-size: 4rem;
        color: #dbd691;
        background-color: #14141462;
        border-radius: 2rem;
        overflow: hidden;
    }

    /*TAMAÑOS CARDS*/

    .card-size {
        max-width: 100%;
        width: 20%;
    }
    .card-size img {
        width: 100%;
    }

    /*CAROUSEL Y PARRAFO DE SECCION PRINCIPAL */
    .section-p-carousel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        gap: 1rem;
    }

    .section-p-carousel div {
        width: 100%;
    }


    /*TAMAÑOS IMAGENES*/

    .img-size-10 {
        max-width: 100%;
        width: 10%;
    }

    /*TAMAÑO MANUAL DE CORTES EN SECCION PRODUCTOS*/
    .cortes {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem 0;
        gap: 1rem;
    }
    .size-cortes {
        max-width: 50%;
    }


    /*------------ESTILOS PAGINA GANADO---------*/

    .section-ganado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #8eb98e;
        margin-top: 2rem;
        padding-top: 2rem;
        padding: 3rem;
        gap: 2rem;
        border: black 2px solid;
        border-radius: 1rem;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.349);
    }
    
    .section-ganado h3 {
        text-align: center;
        font-family: "fredoka", sans-serif;
        font-size: 1.5rem;
        color: #994040;
        border-radius: 0.5rem;
    }
    
    .section-ganado img {
        max-width: 100%;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.397);
        border: black 2px solid;
    }
    
    .section-ganado p { 
        max-width: 100%;
        text-align: center;
        font-family: "fredoka", sans-serif;
        font-weight: 600;
        margin-top: 1rem;
        background-color: #14141450;
        border-radius: 0.5rem;
        padding: 0.4rem;
    }

    .section-cuidados {
        display: flex;
        flex-direction: row;
    }
  }
