
/*ESTILOS*/
.estilo-lista {
    font-size: 1.2rem;
    font-weight: 900;
}

.bg-img-container {
    background-image: url(../img/background-vacas2.jpg);
    background-size: cover;
    background-position: center;
}

/*VIDEO PRINCIPAL CONTAINER*/

.video-container {
    position: relative;
    max-width: 100%;
}

.video-container video {
    width: 100%;
    height: auto;
}

/*TAMAÑO IMAGENES MERCADOS*/

.img-size-mercado {
    max-width: 100%;
    width: 20%;
}

/*TAMAÑO IMAGENES FOOTER*/

.img-size-footer {
    font-size: 2rem;
}



@media (min-width: 992px) {
    
    .fs-lg-2 {
        font-size: 1.5rem;
      }

    /*CAROUSEL Y PARRAFO DE SECCION PRINCIPAL */
    .section-p-carousel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        gap: 1rem;
    }

    .section-p-carousel div {
        width: 100%;
    }


    /*TAMAÑOS IMAGENES*/

    .img-size-10 {
        max-width: 100%;
        width: 10%;
    }
}