
/*ESTILOS*/
.estilo-lista {
    font-size: 1.2rem;
    font-weight: 900;
}

.bg-img-container {
    background-image: url(../img/background-vacas2.jpg);
    background-size: cover;
    background-position: center;
}

/*VIDEO PRINCIPAL CONTAINER*/

.video-container {
    position: relative;
    max-width: 100%;
}

.video-container video {
    width: 100%;
    height: auto;
}

/*TAMAÑO IMAGENES MERCADOS*/

.img-size-mercado {
    max-width: 100%;
    width: 20%;
    &:hover {
        transition-duration: 1.5s;
        transform: scale(1.5);
    }
}

/*TAMAÑO IMAGENES FOOTER*/

.img-size-footer {
    font-size: 3rem;
}



    
.fs-lg-2 {
    @include desktop() {
    font-size: 1.5rem;
    }
}

    /*CAROUSEL Y PARRAFO DE SECCION PRINCIPAL */
.section-p-carousel {
    @include desktop() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    gap: 1rem;
    }    
}
.section-p-carousel div {
    @include desktop() {
    width: 100%;
    }
}


    /*TAMAÑOS IMAGENES*/

.img-size-10 {
    @include desktop() {
    max-width: 100%;
    width: 10%;
    }
}
