/*------------------ESTILO PAGINA VALORES----------------------*/

.titulo-valores {
    margin-bottom: 3rem;
    border: rgb(153, 78, 34) 3px solid;
    border-radius: 1rem;
    background-color: beige;
    width: 20rem;
}

.titulo-valores h1 {
    font-size: 2rem;
}
/*SECTION VALORES*/

.section-valores div {
    border: rgb(153, 78, 34) 3px solid;
    border-radius: 1rem;
    background-color: beige;
    margin: 2px;
}

.section-valores h2 {
    font-size: 1.4rem;
    font-family: "fredoka", sans-serif;
    @include tablet () {
        font-size: 2rem;
    }
    @include desktop() {
        font-size: 2rem;
    }

}
.section-valores p {
    font-size: 1rem;
    font-family: "fredoka", sans-serif;
    padding: 1rem;
    @include tablet () {
        font-size: 1.2rem;
    }
    @include desktop() {
        font-size: 1.5rem;
    }
}

/*ARTICLE VALORES*/

.article-valores {
    margin-top: 2rem;
    text-align: center;
    @include tablet() {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        text-align: center;
    }
    @include desktop() {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        text-align: center;
    }
}

.article-valores div {
    margin: 1rem;
}
.article-valores img {
    width: 20rem;
    max-width: 100%;
    border: rgb(153, 78, 34) 3px solid;
    border-radius: 100%;
}

.article-valores h3 {
    margin-top: 1rem;
}

